@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'ABeeZee', sans-serif;
}

.btn-700 {
  background-color: #b39ddb !important; 
  color: black !important;
  border: 1px solid #b39ddb !important; 
}

.bgg {
  background-color: #D1C4E9 !important; 
}

.nut {
  background-image: url("./components/images/danielle-cerullo-CQfNt66ttZM-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.ex{
  background-image: url("./components/images/victor-freitas-JbI04nYfaJk-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.work{
  background-image: url("./components/images/ryan-de-hamer-WIPIAJW2-P8-unsplash\ \(1\).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.gymadd{
  background-image: url("./components/images/samuel-girven-CeJuNGDjHAM-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sub{
  background-image: url("./components/images/camera-accessories-arranged-concrete-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.fitclub {
  background-image: url("./components/images/3d-gym-equipment.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.plan{
  height: 100vh;
  background-image: url("./components/images/victor-freitas-q0PAwgjKh-g-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

@media (max-width: 1200px) {
  .dashboard {
    background-size: cover; /* For desktops and large tablets */
  }
}

@media (max-width: 992px) {
  .dashboard {
    background-size: cover; /* For tablets */
  }
}

@media (max-width: 767px) {
  .dashboard {
    background-size: cover; /* For small mobile devices */
    background-position: center; /* Adjust for better visibility on small screens */
  }
}

.cal {
  background-image: url("./components/images/WhatsApp\ Image\ 2024-07-24\ at\ 14.56.28_0e1f403f.jpg");
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.qrContainer {
  width: 40%;
  border: 2px solid ;
border-radius: 8px;
  padding: 10px;
}

.qrReader {
  width: 100%;
  border: 2px solid ;
border-radius: 8px;
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(0,221,80);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(0,221,80);
}

input:checked + .slider:before {
  transform: translateX(1.5em);
}

.letter-ring {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: black;
  color: white;
  font-size: 24px;
  border-radius: 50%;
  font-weight: bold;
  margin: 0 auto;
  border: 2px solid wheat;
}

.loader {
  width: 80px;
  height: 50px;
  position: relative;
}

.loader-text {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  color: #C8B6FF;
  animation: text_713 3.5s ease both infinite;
  font-size: .8rem;
  letter-spacing: 1px;
}

.load {
  background-color: #9A79FF;
  border-radius: 50px;
  display: block;
  height: 16px;
  width: 16px;
  bottom: 0;
  position: absolute;
  transform: translateX(64px);
  animation: loading_713 3.5s ease both infinite;
}

.load::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #D1C2FF;
  border-radius: inherit;
  animation: loading2_713 3.5s ease both infinite;
}

@keyframes text_713 {
  0% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }
  40% {
    letter-spacing: 2px;
    transform: translateX(26px);
  }
  80% {
    letter-spacing: 1px;
    transform: translateX(32px);
  }
  90% {
    letter-spacing: 2px;
    transform: translateX(0px);
  }
  100% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }
}

@keyframes loading_713 {
  0% {
    width: 16px;
    transform: translateX(0px);
  }
  40% {
    width: 100%;
    transform: translateX(0px);
  }
  80% {
    width: 16px;
    transform: translateX(64px);
  }
  90% {
    width: 100%;
    transform: translateX(0px);
  }
  100% {
    width: 16px;
    transform: translateX(0px);
  }
}

@keyframes loading2_713 {
  0% {
    transform: translateX(0px);
    width: 16px;
  }
  40% {
    transform: translateX(0%);
    width: 80%;
  }
  80% {
    width: 100%;
    transform: translateX(0px);
  }
  90% {
    width: 80%;
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0px);
    width: 16px;
  }
}

.search-container {
  position: relative;
  width: 100%;
  border-radius: 50px;
  background: linear-gradient(135deg, rgb(218, 232, 247) 0%, rgb(214, 229, 247) 100%);
  padding: 5px;
  display: flex;
  align-items: center;
}

.search-container::after, .search-container::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
}

.search-container::before {
  top: -1px;
  left: -1px;
  background: linear-gradient(0deg, rgb(218, 232, 247) 0%, rgb(255, 255, 255) 100%);
  z-index: -1;
}

.search-container::after {
  bottom: -1px;
  right: -1px;
  background: linear-gradient(0deg, rgb(163, 206, 255) 0%, rgb(211, 232, 255) 100%);
  box-shadow: rgba(79, 156, 232, 0.7019607843) 3px 3px 5px 0px, rgba(79, 156, 232, 0.7019607843) 5px 5px 20px 0px;
  z-index: -2;
}

.input {
  padding: 10px;
  width: 100%;
  background: linear-gradient(135deg, rgb(218, 232, 247) 0%, rgb(214, 229, 247) 100%);
  border: none;
  color: #9EBCD9;
  font-size: 20px;
  border-radius: 50px;
}

.input:focus {
  outline: none;
  background: linear-gradient(135deg, rgb(239, 247, 255) 0%, rgb(214, 229, 247) 100%);
}

.search__icon {
  width: 50px;
  aspect-ratio: 1;
  border-left: 2px solid white;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-radius: 50%;
  padding-left: 12px;
  margin-right: 10px;
}

.search__icon path {
  fill: black;
}


.register{
  background-image: url("./components/images/IMG-20240717-WA0014.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.register-container h2 {
  margin-bottom: 16px;
}

.filter {
  filter: blur(2px);
}

.link-header {
  color: #007bff; /* Link color */
  text-decoration: none; /* No underline */
  cursor: pointer; /* Pointer cursor */
}

.link-header:hover {
  color: #0056b3; /* Darker color on hover */
}
.p-accordion-header a{
  text-decoration: none;
}
.transparent-background .p-datascroller-content {
  background-color: transparent !important;
}
